<p>
    <b>Welcome,
        <%= @owner.email %>
    </b>
    <%= link_to '(Logout)', destroy_owner_session_path %>
    <%= link_to 'New Pet', new_pet_path(:owner_id => @owner.id) %>

</p>

<% pets = @pets.all %>
<% if pets.empty? %>
    <em>you dont own any pet yet?</em>
<% else %>
    <table>
      <tr>
        <th>Pets</th>
        <th>Health</th>
        <th></th>
        <th></th>
      </tr>
      <% pets.each do |pet| %>
          <tr>
            <td><%= pet.name %></td>
            <td><%= pet.health %></td>
            <!--<td><%= link_to 'Show', pet %></td>-->
            <td><%= link_to 'Food1', pet_feed_path(:pet_id => pet.id, :energy => 5), :method => :post %></td>
            <td><%= link_to 'Food2', pet_feed_path(:pet_id => pet.id, :energy => 10), :method => :post %></td>
            <td><%= link_to 'Set Free', pet, :method => :delete %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<!--
<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
-->
